body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Éviter le défilement de la page */
}

.viewer-container {
  visibility: hidden;
  text-align: center;
}

.image-container {
  position: relative;
  width: 678px;
  height: 678px;
  margin: 0 auto;
  overflow: hidden;
}

.image-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.02s ease-in-out;
}

.image-slide.active {
  opacity: 1;
}

/* Barre de progression et overlay */
.progress-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ajustez selon vos besoins */
  height: 100%;
  background-color: lightgray;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1100; /* Assurez-vous que la sidebar est au-dessus des autres éléments */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .MuiFormControl-root {
  margin-top: 40px; /* Ajuste la position pour que le libellé soit au-dessus de la bordure */
}

.MuiSelect-root {
  width: calc(100% - 32px); /* Ajuste la largeur en fonction du padding de la sidebar */
}

.MuiInputLabel-root {
  position: absolute;
  top: 16px; /* Positionne le libellé au-dessus de la bordure */
  left: 16px; /* Ajuste la position horizontale si nécessaire */
  background-color: white; /* Assure une bonne lisibilité */
  padding: 0 4px; /* Crée un fond pour éviter que le texte ne chevauche la bordure */
  z-index: 1200; /* Assure que le libellé est au-dessus de la bordure */
}

.MuiMenuItem-root {
  margin: 0; /* Assurez-vous que les MenuItems ne sont pas trop grands */
}
